<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <!-- gh-pages likes to cache for 24h, let's disable that -->
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Thu, 01 Jan 1970 13:37:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
  <title>{{ page.title }}</title>
  <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/img/favicon.png" >
  <link rel="stylesheet" media="screen" href="/css/main.css" >
</head>
<body>
  {% include tracking.html %}
  <nav>
    <div class="nav-container">
      <a href="#about">About</a>
      <a href="#getting-started">Getting Started</a>
      <a href="#meetups">Meetups</a>
      <a href="#nodebots-day">Nodebots Day</a>
    </div>
  </nav>
  <header id="header">
    <a href="/">{% include nodebot-logo.html %}</a>
    <h1>NodeBots</h1>
    <h2>{{ page.introTitle }}</h2>
    {{% include nodebots-day-star.html %}}
  </header>

  {{ content }}

  <footer id="footer">
    <div class="badges">
      <a class="github" href="https://github.com/nodebots" title="Code on GitHub"></a>
      <a class="twitter" href="https://twitter.com/nodebots" title="News on Twitter"></a>
    </div>
  </footer>
</body>
</html>
